* {box-sizing: border-box;}

body 
{
    background-color: white
}

#header
{
    font-size: 100x;  
}

.headerBanner
{
    border-color: green;
    border-width: 0px;
    border-style: dotted;
}


#imagesContainer
{
    width: 100%;
    background-color: green;
}

img 
{
    width:25%;
    /* padding:10px; */
    border: solid 5px red;
    /* margin: 10px;
    box-sizing: border-box; */
}

.contactUsAndSignIn
{
    align-items: center;
    background-color: rgb(34, 32, 32);
    color: white;
}

#searchBox
{
    justify-content: flex-end;
}