@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

/* This is the base template file - please use the supplied slides to experiment */
* {box-sizing: border-box;}

.box {
    color: white;
    font-size: 20px;
    
}


/* Colours for each box */
.headerBanner { background: rgb(61, 56, 56); flex-basis: 2000px; flex-shrink:1}
.logoSearchRegion { background:white; flex-basis: 2000px; flex-shrink:2}
.pictureBanner { background: white; flex-basis: 2000px; flex-shrink:3}

.loginBar
{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.contactUs
{
    display: flex;
    padding: 10px;
    width: 800px;

}

.signIn
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 20px;
    width: 800px;
}

.giftList
{
    padding: 10px;
}


body 
{
    background-color: white
}

.imagineBanner
{
    width: 100%;
    background-color: green;
}


.eMail
{
    align-self: flex-en;
}







.bannerImage
{
    display: flex;
}